<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstantWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E40C46611FA0F82B00DE5EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E40C46771FA0F82C00DE5EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E40C46821FA0F82C00DE5EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
